# Contails all the files to be ignored by Docker when building the image

# Node dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build output
.next
out
dist
build

# Docker files
Dockerfile
docker-compose.yml

# Logs
*.log

# Public assets
public/*.svg

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# OS / Editor files
.DS_Store
*.swp
*.swo

# Documentation
README.md

# Git files
.git
.gitignore
